# PostgreSQL credentials

POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=VERY_STRONG_PASSWORD_HERE

AUTH_SERVICE_DB_PASSWORD=VERY_STRONG_PASSWORD_HERE
PARSER_SERVICE_DB_PASSWORD=VERY_STRONG_PASSWORD_HERE

# RabbitMQ credentials

# Root credentials for RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=VERY_STRONG_PASSWORD_HERE

PARSER_SERVICE_RABBITMQ_PASSWORD=VERY_STRONG_PASSWORD_HERE
AUTH_SERVICE_RABBITMQ_PASSWORD=VERY_STRONG_PASSWORD_HERE
# Redis credentials

REDIS_ROOT_PASSWORD=VERY_STRONG_PASSWORD_HERE

REDIS_AUTH_SERVICE_PASSWORD=VERY_STRONG_PASSWORD_HERE
REDIS_PARSER_SERVICE_PASSWORD=VERY_STRONG_PASSWORD_HERE